@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand');
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito');
}

@font-face {
  font-family: 'Nunito-Italic';
  src: url('/fonts/Nunito-Italic');
}

html {
  font-family: 'Quicksand', 'Nunito', 'Arial';
}

@theme {
  --color-primary: #020A63;
  --color-secondary: #FFE16A;
  --color-onPrimary: #0047AB;
  --text-black: #303030;
  --text-white: #FFFFFF;
  --font-quicksand: 'Quicksand';
  --font-nunito: 'Nunito';
  --font-nunitoItalic: 'Nunito-Italic';
}