#summary {
  margin-top: 2rem;
  padding: 0 1rem 0 1rem;
}

li {
  list-style-type: disc;
}

ol {
  margin: 1rem;
  list-style-type: decimal;
}

li, ol {
  font-size: 14px;
  list-style-position: outside;
  line-height: 1.75rem;
}

h1 {
  padding: 1rem 0 0 0;
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  padding: 1rem 0 0 0;
  font-size: 1.15rem;
  font-weight: 500;
}

#article {
  padding: 0 1rem 0 1rem;
}

p {
  padding: 0.75rem 0 0.75rem 0;
  font-size: 14px;
  line-height: 1.75rem;
}

blockquote {
  padding: 1rem;
}

blockquote p::before {
  content: "\"";
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  color: var(--color-cobalt);
  height: 0;
}

blockquote:first-child {
  padding-top: -5;
}

code {
  display: block;
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
  background: #000;
  color: ghostwhite;
  overflow-x: scroll;
}

#article img {
  margin: auto;
  display: block;
  width: 50%;
  max-height: 200px;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p, li, ol {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  code {
    font-size: 1rem;
  }
}